In [1]:
import os 
os.chdir("..")

In [2]:
import polars as pl
from src.data.data_pull import DataPull

dp = DataPull()

In [14]:
params = ["AGS", "PWGTP"]
flow = "/acs/acs1/pums"
region = "state:18"

In [16]:
# https://api.census.gov/data/2019/acs/acs1/pums?get=AGS,PWGTP&for=state:*
# https://api.census.gov/data/2020/acs/acs1/pums?get=AGS,PWGTP&for=state:*

In [15]:
dp.pull_query(region=region, flow=flow, params=params, year=2019)

https://api.census.gov/data/2019/acs/acs1/pums?get=AGS,PWGTP&for=state:18

shape: (67_445, 4)
┌─────┬───────┬───────┬──────┐
│ ags ┆ pwgtp ┆ state ┆ year │
│ --- ┆ ---   ┆ ---   ┆ ---  │
│ str ┆ str   ┆ str   ┆ i32  │
╞═════╪═══════╪═══════╪══════╡
│ 0   ┆ 71    ┆ 18    ┆ 2019 │
│ 0   ┆ 24    ┆ 18    ┆ 2019 │
│ 0   ┆ 98    ┆ 18    ┆ 2019 │
│ 0   ┆ 4     ┆ 18    ┆ 2019 │
│ 0   ┆ 13    ┆ 18    ┆ 2019 │
│ …   ┆ …     ┆ …     ┆ …    │
│ 0   ┆ 104   ┆ 18    ┆ 2019 │
│ 0   ┆ 15    ┆ 18    ┆ 2019 │
│ 0   ┆ 14    ┆ 18    ┆ 2019 │
│ 0   ┆ 14    ┆ 18    ┆ 2019 │
│ 0   ┆ 17    ┆ 18    ┆ 2019 │
└─────┴───────┴───────┴──────┘

In [ ]:
df = dp.pull_dp03(params=params)

In [ ]:
dp.conn.sql("SHOW TABLES;").df().get("name").tolist()

In [ ]:
dp.conn.sql("SELECT * FROM 'DP03Table';").pl()